/*-----------FORM----------*/
 
main .blog-post .blog-content .bar2{
    background-color:rgb(152, 41, 41);
    width:800px;
    margin:auto;
    margin-top:50px;
    text-align:center;
    padding-top: 50px;
    font-weight: Bold;
}

#text{
    height:20px;
    width:300px;
    border-radius:4px;
    border: solid 1px #ccc;
    padding:4px;
    font-size:10px;
}

#button{
    width:300px;
    height:20px;
    border-radius:4px;
    font-weight: Bold;
    border:none;
    background-color: #3c5a99;
    color:white;
}

/*-----X------FORM-----X-----*/